* {
  box-sizing: border-box;
}

:root {
  --color-primary-red: #FE3756;
  --primary-font-white: #ffffff;
  --text-input-border: #C8CBD1;
}

.mockup-01 {
  margin-left: 5rem;

}

.mockup-01 h1 {
  margin-top: 2.5rem;
  width: 496px;
  height: 77px;
  font-size: 40px;
  font-weight: 500;
  line-height: 69px;
}

.enter-text-lable {
  margin-top: 45px;
  width: 95px;
  height: 27px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.text-input {
  margin-top: 6px;
  width: 456px;
  height: 32px;
  padding: 8px 16px 8px 16px;
  border: 1px solid var(--text-input-border);
  border-radius: 5px;
}

#SubmitButton {
  height: 56px;
  width: 326px;
  left: 0px;
  top: 0px;
  border: none;
  border-radius: 8px;
  padding: 20px 36px 20px 36px;
  background-color: var(--color-primary-red);
  color: var(--primary-font-white);
}

.btnKliknij {
  margin-top: 45px;

}