.memo_game_main {
    font-family: Poppins;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0em;

    margin-left: 31px;
}

.memo_game_main .title {
    display: flex;
    font-weight: bold;
    font-weight: 700;
    text-align: left;
    height: 34px;
    margin: 0px;
    margin-top: 48px;
}

.memo_arrow_icon {
    transform: rotateZ(90deg);
    margin-right: 10px;
}

.memo_option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.memo_rules {
    margin-bottom: 28px;
}

.memo_option .description {
    width: 188px;
    margin-right: 42px;
}

.btns {
    display: flex;
    align-items: center;
    gap: 24px;
}

.btns button {
    width: 163px;
}

.memo_btn {
    background-color: #23213D;
    border: 0;
}

.memo_game_main .activ_memo_btn {
    background-color: #FE3756;
}

.memo_board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;
    height: fit-content;
    margin-top: 118px;
    margin-left: 260px;

}

.memo_board>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: #EBEBEB;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.memo_board .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    font-size: 72px;
}

.cell:hover {
    scale: 1.1;
    transition: 0.3s ease-in-out;
    }

    .cell:active {
        scale: 1.1;
        
    }

.memo_game_in_progress {
    display: flex;
}

.memo_game_in_progress .description>span {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 188px;
    margin-right: 42px;
    margin-bottom: 38px;
    height: 56px;
}

.memo_game_in_progress .time_and_steps>span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 56px;
    margin-bottom: 38px;
    background-color: #EBEBEB;
    border-radius: 8px;
    gap: 24px;
}

.guessed {
    background-color: rgb(162, 231, 162);
}

.closed {
    background-color: rgb(206, 111, 111);
    border-radius: 8px;
}