.wackTheMoleMain {
    font-family: Poppins;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0em;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 550px;
    height: 216px;
    margin-top: 118px;
    margin-left: auto;
    margin-right: auto;

}

.board>span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    width: 104px;
    background-color: #EBEBEB;
    border-radius: 8px;
}

.wackTheMoleMain .wtm_optins {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.wtm_optins .wtm_option_settings {
    display: flex;
    flex-direction: row;
    height: 165px;
    margin-top: 28px;
}

.wtm_option_settings .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    padding: 0px;
}

.description>p {
    margin: 0px;
    padding: 0px;
}

.wtm_options_btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 537px;
    margin-left: 41px;
}

.btns {
    display: flex;
    align-items: center;
    gap: 24px;
}

.btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    width: 163px;
    height: 56px;
    margin: 0px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.wackTheMoleMain .btn {
    width: 153px;
    margin: 0px;
    background-color: #23213D;
}

.wackTheMoleMain .activ_btn {
    background-color: #FE3756;
}

.wackTheMoleMain .btn:hover {
    opacity: 0.9;
    transition: 0.3s linear;
}

.btns .scoreAndTime {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    height: 56px;
    margin: 0px;
    border-radius: 8px;
    background-color: #EBEBEB;
}

.moleHole {
    cursor: pointer;
}

.moleHole:hover {
    background-color: #dddddd;
    transition: 0.3s ease-in-out;
}

.moleHole:active {
    border: 1px solis #979797;
}

@media (max-width: 375px) {

    .wtm__main__settings,
    .wtm__main__startstop {
        margin: 0 auto;
    }

    .wtm_optins .wtm_option_settings {
        position: relative;
        top: -40px;
        display: flex;
        flex-direction: column;
        height: 165px;
        margin-top: 10px;
    }

    .game--start {
        position: relative;
        left: 20px;
        top: 40px;
    }

    .wtm_option_settings .description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
        padding-left: 20px;
    }

    .wtm_option_settings .wtm__game--start {
        position: relative;
        left: -40px;
        padding-left: -10px;
    }

    .wtm_options_btns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 300px;
        margin-left: 0px;
        margin: 20px 0;
        gap: 30px;
    }

    .btns .scoreAndTime {
        position: relative;
        left: -20px;
        width: 140px;
    }

    .wtm_options_btns .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }

    .btns button {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0em;
    }

    .wackTheMoleMain .btn {
        width: 140px;
        margin: 0px;
        background-color: #23213D;
    }

    .wackTheMoleMain .activ_btn {
        background-color: #FE3756;
        width: 140px;
    }

    .wackTheMoleMain .btn:hover {
        opacity: 0.9;
        transition: 0.3s linear;
    }
}