header {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 3rem;

}

header>a:first-of-type {
  text-decoration: none;
}

header.header-title {
  color: var(--color-grey);
  font-weight: normal;
}

header .logo {
  height: 40vmin;
  pointer-events: none;
}

.profil-image img {
  width: 49px;
  height: 49px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 53px;
}

.menu .settings-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.menu .settings-btn:hover {
  border: 2px dotted lightgray;
  transition: 0.2s linear;
}

.menu .user-profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user p {
  margin: 0px;
}

.menu .user-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 14px;
}

.user-name .user-position {
  font-size: 14px;
  font-weight: 100;
}

.arrow-btn {
  border: none;
  background-color: transparent;
}

.arrow {
  rotate: 90deg;
}

.arrow.rotate {
  rotate: 0deg;
  transition: 0.1s linear;
}



.test {
  position: relative;
  top: 16rem;
  right: 5rem
}

@media (max-width: 768px) {
  .menu .settings-btn {
    display: none;
  }
}

@media (max-width:530px) {
  .arrow-btn {
    display: none;
  }

  .user-profile {
    margin-right: 24px;
  }
}

@media (max-width: 470px) {
  header {
    padding-right: 1.5rem;
  }

  .user {
    display: none;
    margin-right: 24px;
  }
}

@media (min-width:361px) {
header {
  box-shadow: 0px 1px 9px 0px var(--color-grey);
}
  .Logo__Pomeranian--small,
  .header__sidebar__menu {
    display: none;
  }
  .profile__image-icon {
    display: none;
  }
}

@media (max-width:360px) {
.profile__imege-avatar {
  display: none;
}
.profile__image-icon {
  height: 26px;
}

  .Logo__Pomeranian--big {
    display: none;
  }

  .Logo__Pomeranian--small {
    height: 26px;
  }
}