.layout {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: 10rem 1fr;
  grid-template-rows: 5rem 4fr 5rem;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';

  background: var(--color-white);
  color: var(--color-grey);
}

main {
  grid-area: main;
  height: calc(100vh - 5rem - 5rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem;
  padding-left: 4rem;
}

@media (max-width: 790px) {
  .layout {
    grid-template-columns: 5.5rem 1fr;
  }

  main {
    padding-left: 2rem;
  }
}

@media (max-width: 360px) {
  .layout {
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 6rem 5rem 4fr 10rem;
    grid-template-areas:
      'upheader upheader'
      'header header'
      'sidebar main'
      'footer footer';
  }

  main {
    grid-area: 3/1/4/3;
    background-color: var(--color-grey-mobile);
    height: calc(100vh - 5rem - 15rem);
  }

  aside {
    height: fit-content;
    z-index: 1;
    grid-area: 3/1/4/2;
    background-color: var(--color-white);
    border-radius: 0 0 5px 0;
  }
}