.mobile__upheader__container {
    height: 95px;
    width: 360px;
    background-color: #262626;
}

.up__area {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
 }

.up__area .clock__mobile {
    padding: 15px 0 12px 25px;    
}

.up__area--notch {
    width: 164px;
    height: 32px;
    background-color: #000;
    border-radius: 0 0 25px 25px;
}

.up__area--mobile-icon {
        padding: 19px 16px 15px 0;
}

.down__area-search-area {
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 400;

    width: 90vw;
    height: 32px;
    padding: 7px 8px;
    margin: 7px 16px 10px 16px;
    border: 0;

    background-color: #3a3a3a;
    border-radius: 5px;
    color: var(--color-white);
}

.down__area-search-area:focus {
    outline: none;
}

@media (min-width: 361px) {
    .mobile--only {
        display: none;
    }
}