.cookieModalMain {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;  
  width: 100vw;
  height: 60%;  
  margin: 20%;
  margin-top: 10vh;
  background-color: var(--secondary-cookies-agreement);
  border-radius: 8px;
}

.cookies-customization-content {
  width: 60%;
  font-size: 18px;  
  overflow: scroll;
  padding-top: 2rem;
}

.cookies-customization-content p {
  text-align: center;
}

.cookies-btn {
  display: flex;
  gap: 4em;
  margin-bottom: 4em;
}

@media (min-width: 1281px) {
  .cookies-customization-content {
    width: 90%;
    font-size: 18px;
  }

  .cookies-btn {
    display: flex;
    flex-direction: row;
    gap: 8vw;
    margin-bottom: 1em;
  }
}

@media (min-width: 781px) and (max-width: 1280px) {
   .modalContainer {
    width: 60vw; 
      margin-top: 10vh;
  }

  .cookies-customization-content {
    width: 90%;
    font-size: 16px;
    padding-bottom: 1em;
  }

  .cookies-btn {
    display: flex;
    flex-direction: column;    
    gap: 2em;
    margin-bottom: 1em;
  }
}

@media (max-width: 780px) {
  .cookieModalMain {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;    
    background-color: #23213d51;
    backdrop-filter: blur(5px);
  }

  .modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 90vw;
    height: 60%;
    padding: 1em 0;
    background-color: var(--secondary-cookies-agreement);
    border-radius: 8px;
  }

  .cookies-btn {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
  }

  .cookies-customization-content {
    width: 90%;
    font-size: 14px;  
  }
}

@media (max-width: 375px) {
  .modalContainer {
    width: 95vw;
    margin: 1rem;
  }
  .cookies-customization-content {
    width: 90%;
    font-size: 12px;  
  }

}