:root {
    --secondary-cookies-agreement: #23213D;
    --primary-cookies-btn: #FE3756;
}

.cookie__agreement {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 4;
    width: 100vw;
    padding: 60px 80px;
    bottom: 0px;
    background-color: var(--secondary-cookies-agreement);
    color: white;
    text-align: justify;
}

.cookie__agreement .cookie-image {
    float: left;
    padding: 20px;
}

.cookie__agreement .cookie-btn {
    display: flex;
    flex-direction: column;
    margin-left: 56px;
    gap: 16px;
}

.cookie__agreement .cookie-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.52px;
    text-transform: uppercase;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 3px 2px #424242;
    padding: 20px 36px;
    cursor: pointer;
    white-space: nowrap;
}

.cookie__agreement .cookie-btn button:active {
    box-shadow: 0 5px #2a2a2a;
    transform: translateY(2px);
  }

button.agree {
    background-color: var(--primary-cookies-btn);
    color: white;
}

button.customize {
    color: var(--primary-cookies-btn);
}
@media (min-width: 761px) and (max-width: 1280px) {
    .cookie__agreement {
        padding: 40px 60px;
    }
}

@media (max-width: 760px) {
    .cookie__agreement .cookie-btn {
        flex-direction: row;
        margin: 0 auto;
    }

    .cookie__agreement .cookie-btn button {
        padding: 15px 20px;
    }
}

@media (min-width: 376px) and (max-width: 760px) {
    .cookie__agreement {
        flex-direction: column;
        padding: 30px 40px;
    }

    .cookie__agreement .cookie-btn {
        margin-top: 10px;
        gap: 10vw;
    }
}

@media (min-width: 376px) and (max-width: 430px) {
    .cookie__agreement .cookie-btn {
        gap: 16px;
    }
}

@media (max-width: 375px) {
    .cookie__agreement {
        width: 100vw;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 4;
        bottom: 0px;
        background-color: var(--secondary-cookies-agreement);
        color: white;
    }
}