@font-face {
    font-family: 'made tommy';
    src: url(./font/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}


.toggle-arrow-icon {
    transform: rotate(90deg);
    border: 1px solid black;
}

.faq-main-container {
    background: #E5E5E5;
}

.faq-title {
    font-family: 'made tommy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
}

.faq-question-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 24px;
    gap: 18px;
    margin-bottom: 18px;

    width: 780px;
    height: 266px;

    background: #FFFFFF;
    border-left: 5px solid #C8CBD1;
    border-radius: 8px;
}