@font-face {
    font-family: 'made tommy';
    src: url(./font/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}

/* .faq-main-container {
   
} */

.faq-title {
    font-family: 'made tommy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
}

.faq-question-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 24px;
    gap: 18px;
    margin-bottom: 18px;

    width: 780px;
    height: fit-content;

    background: #ffffff;
    border-left: 5px solid #C8CBD1;
    box-shadow: 1px 1px 10px;
    border-radius: 8px;    
}

.faq-answer {
    text-align: justify;
}

.faq__button {
    background: none;
    border: 0;
}

.faq__togglearrow {
    transform: rotate(-90deg);
    transition: 0.1s linear;
}

.faq__togglearrow--rotate {
    transform: rotate(0deg);
    transition: 0.1s linear;
}

@media (max-width: 1030px) {
    .faq-question-container {
        width: 70vw;
    }
}

@media (max-width: 560px) {
    .faq-question-container {
        width: 65vw;
    }
}

@media (max-width: 559px) and (min-width: 361px) {
    .faq-question-container {
        width: 60vw;
    }
}

@media (max-width: 360px) {
    .faq-question-container {
        width: 80vw;
    }
}