.exercises-categories > * {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.excercises-list {
  font-size: 16px;
  font-weight: 600;
  flex-direction: row;
  row-gap: 0.5rem;
}

.excercises-list a {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  border: 2px solid rgb(107, 107, 107);
  border-radius: 8px;
  padding: 20px 10px;
  margin: 10px;
  filter: saturate(0%);
}

.excercises-list a:hover,
a:focus {
  filter: saturate(100%);
  transition: 0.5s;     
}

.html__css__icon {
  position: relative;
  left: 10px;
}

.html__css__icon .css__icon {
  position: relative;
  left: -25px;
}

.excercises-list img {
  height: 64px;
}


@media (max-width: 640px) {
  .excercises-list a {
    width: 7rem;
    height: 7rem;
  }

  .html__css__icon .html__icon {
    position: relative;
    top: 71px;
    left: 15px;
  }

   .html__css__icon {
    position: relative;
    top: -30px;
    left: 5px;
  }

  .icon__tech-name--hide {
    display: none;
  }
}

@media (max-width: 530px) {
  .excercises-list a {
    width: 6rem;
    height: 6rem;
  }

  .html__css__icon .html__icon {
    position: relative;
    top: 51px;
    left: 1px;
  }

   .html__css__icon {
    position: relative;
    top: -20px;
    left: 15px;
  }
  
  .excercises-list img {
    height: 44px;
  }
}

@media (min-width: 376px) and (max-width: 460px) {
  .excercises-list {
    flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .excercises-list {
    flex-wrap: nowrap;
  } 
}