.exercise-main-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
   5rem header, 5rem footer 1.5rem padding (both sides) 
  grid-template-rows: calc(100vh - 5rem - 5rem - 1.5rem - 1.5rem); */
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-right: 20px;
}

.exexercises-categories {
  text-align: center;
}

.exercises-categories a.active {
  background-color: var(--color-primary-blue);
  color: var(--color-white);
}

@media (max-width: 375px) {

}